# No spaces yet in MONIKER
MONIKER="Moniker-name"
WALLET_NAME="wallet-name"

# Feeder stuff
# Currently 1 validator allowed
ORACLE_FEEDER_VALIDATORS="terravaloper1..."
ORACLE_FEEDER_PASSWORD="SecretPassword"
# Do not user seed from validator wallet, use wallet with just a few LUNC
ORACLE_FEEDER_MNENOMIC=""
ORACLE_FEEDER_IV_SALT="Zout"
